# Ignore node_modules and build directories
**/node_modules/


# Ignore android folder in int300 directory
int300/android/

# Ignore desktop folder
/desktop/

# Optionally ignore other temp files (common)
*.log
.DS_Store
ENV/
.env
dist/
coverage/