# Ignore node_modules and build directories
**/node_modules/


# Ignore android folder in int300 directory
int300/android/

# Ignore desktop folder
/desktop/

/deploy_bundle/

# Optionally ignore other temp files (common)
*.log
.DS_Store
ENV/
.env
dist/
coverage/
linux_vm_deployment_guide.md
linux_vm_beginner_local_to_vm_guide.md
linux_vm_github_clone_deployment_guide.md
linux_vm_final_production_playbook.md
linux_vm_github_clone_only_deploy.md